<div class="row">
	<div class= "span12 pagination-centered padding_to_consigne">
		<img src="/assets/consigne_quiz.png" alt="Consigne_quiz" class ="border consigne"></img>		
</div>
<div class= "span12 reset-button">
<a id="repeat" class="btn btn-primary" type="button"><i class="icon-ccw icon-large icon-white"></i></a>
</div>
</div>
