<%= link_to ({:controller => "/exercices/categories_galleries", :action => @action, :id_category => category_id, :id_gallery=> gallery_id, :type=> @type}),
                 :class => "tile square image" do%>
             
	 <%= image_tag image, :class => "sqaremetro" %>
	 <%= content_tag :div, :class => "textover-wrapper transparent bg-color-" +  COLORS.sample do%>
	<div class="text2">
		<%= name.titleize %>
	</div>
 <% end%>
<% end %>
